<nav class="navbar">
  <img src="../../../assets/card.jpg" alt="logo" class="logo">
  <div class="buttons">
    <button routerLink="/users" class="button">USERS</button>
  </div>
  <!--  ^^^^^^^^^^^^^^^^^^^^^-->
  <!-- TODO tu maincdamainc navigacia ginda, mtavar gverdze gadadis-->


  <!--<div class="buttons">-->
  <!--<button class="button" (click)="showForm()" *ngIf="!disable">ADD FORM</button>-->
  <!--<button class="button" (click)="goBack()" *ngIf="disable">Go back</button>-->
  <!--</div>-->

</nav>
<!--<div *ngIf="isForm">-->
<!--<app-user-form></app-user-form>-->
<!--</div>-->

<!--TODO useris damateba ideashi navigacia araa, funqcionalia, ameebs gadavitan userebis chamonatvalshi-->
