@import "src/variables";

.navbar {
  display: flex;
  //justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 10px;
   img {
    width: 200px;
    margin-bottom: 20px;
  }

  .button {
    margin-left: 50px;
    padding: 15px 25px;
    font-size: 1.8rem;
    background-color: $light-blue;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 1rem;

    &:hover {
      background-color: white;
      color: $secondary-color;
      transform: translateY(-3px);
      box-shadow: 0 10px 20px $blur-color;
    }

    &:active {
      transform: translateY(-1px);
    }

  }


}
